@tailwind base;
@tailwind components;
@tailwind utilities;

   .hero-glow-bg {
        background-image: linear-gradient(180deg, rgba(122, 90, 248, 0) 0%, #7a5af8 100%);
}
   .icon-glow-bg {
        background-image: linear-gradient(0deg, rgba(122, 90, 248, 0) 0%, #7a5af8 100%);
}
.tab-img-bg {
        background: linear-gradient(90deg, rgba(255, 88, 213, 0.2) 0%, rgba(78, 110, 255, 0.2) 100%);
}

.tab-img-overlay {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 67.58%, rgba(255, 255, 255, 0) 100%);
}

.benefits-bg{
        background: linear-gradient(216deg, #a2e4e4 0%, #1c9ef6 100%);
}



@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float-y {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes float-x {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}
@keyframes float-xy {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
}
@keyframes float-rev {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}
.floating-1 {
  animation: float-y 3s ease-in-out infinite;
}
.floating-2 {
  animation: float-x 4s ease-in-out infinite;
}
.floating-3 {
  animation: float-xy 5s ease-in-out infinite;
}
.floating-4 {
  animation: float-rev 6s ease-in-out infinite;
}

.dashboard-gradient {
  background-image: linear-gradient( 92deg, var(--Colors-Brand-500, #7a5af8) 0%, var(--Colors-Brand-200, #d9d6fe) 100% );
}

.widget-bg {
        background-image: linear-gradient(180deg, #f8fcff 0%, #f1efff 50%, #f8dcff 100%);
        
}

.gradient-btn {
        background-image: linear-gradient(97deg, #725cff 0%, #b5b1ff 140.21%);
        color: white;
        background-size: 200% auto;
      
     
       
}