@tailwind base;
@tailwind components;
@tailwind utilities;

   .hero-glow-bg {
        background-image: linear-gradient(180deg, rgba(122, 90, 248, 0) 0%, #7a5af8 100%);
}
   .icon-glow-bg {
        background-image: linear-gradient(0deg, rgba(122, 90, 248, 0) 0%, #7a5af8 100%);
}
.tab-img-bg {
        background: linear-gradient(90deg, rgba(255, 88, 213, 0.2) 0%, rgba(78, 110, 255, 0.2) 100%);
}

.tab-img-overlay {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 67.58%, rgba(255, 255, 255, 0) 100%);
}

.benefits-bg{
        background: linear-gradient(216deg, #a2e4e4 0%, #1c9ef6 100%);
}

/* ===================================
   Animation Keyframes
   =================================== */

@keyframes slideInLeft {
  0%,100% {

    transform: translateX(-20px);
    transform: translateY(20px);
  }
  50% {
 
    transform: translateX(0);
    transform: translateY(0);
  }
}


.animate-slide {
  animation: slideInLeft 5s ease-in-out infinite;
}
